<div class="row">
    <div class="row">
        <div>
            <h2>liaison d'attribut</h2>
        </div>
        <div>
            <div class="row"><img [src]='lienImage'></div>
        </div>
    </div>
    <div class="row">
        <div>
            <h2>Double data binding</h2>
        </div>
        <div>
            <div class="row"><input [(ngModel)]="nom"> {{nom}}</div>
        </div>
    </div>
    <div class="row">
        <div>
            <h2>Liaison d'evenement</h2>
        </div>
        <div>
            <div class="row"><input (focus)="LogEnter()"> {{enter}}</div>

        </div>
    </div>
</div>

